VITE_SUPABASE_URL=https://vuzzugzpkljnthhupmup.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1enp1Z3pwa2xqbnRoaHVwbXVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1NzIyNTIsImV4cCI6MjEwNjE0ODI1Mn0.7-mzjFlu0gsiAPT1-XFbCtp_CKL0PYcLAlQ4OpqoM2A
